footer
  .container-full
    div(style="background-color:#f3eee8;")
      .container--custom
        .footer
          div
            p.title.title--shop BMT SHOP
            div.title--group
              <i class="bi bi-geo-alt"></i>
              |Số 12, Đường D3, Phường phú hữu, Tp Thủ Đức, Tp. Hồ Chí Minh
            div.title--group
              <i class="bi bi-telephone-plus"></i>
              | +0123456789
            div.title--group
              <i class="bi bi-envelope"></i>
              | minhtuan@gmail.com
          div
            p.title Thông tin và BMT Shop
            p Về chúng tôi
            p Liên hệ/Góp ý
            p Điều khoản sử dụng website
            p Tuyển dụng
          div
            p.title Hướng dẫn chung
            p Giao hàng - Đổi trả
            p Hướng dẫn mua hàng
            p Chính sách bảo hành
          div
            p.title Hỗ trợ khách hàng
            p Gọi mua hàng: 0123456678
            p Khiếu nại, bảo hành: 0123456678
            p Thời gian phục vụ: 8h -21h
  .container--custom
    .coppyright 
      p Điều khoản sử dụng | Chính sách bảo mật
      p #{settingGeneral.coppyright ? settingGeneral.coppyright : ""}
      p
        a(href="https://web.facebook.com/?_rdc=1&_rdr") 
          <i class="bi bi-facebook"></i>
        a(href="https://web.facebook.com/?_rdc=1&_rdr") 
          <i class="bi bi-instagram"></i>