header 
  .container 
    div(class="row align-items-center")
      .col-3
        .inner-logo
          a(href="/") 
            img(src="/media/a.jpg" alt="logo" style="width: 100px")
      .col-9
        ul(class=" nav d-flex justify-content-around bg-red")
          li(class="nav-item" style="margin")
            a(href="/" class="text-capitalize text-dark font-weight-bold") home
          li(class="nav-item" style="margin")
            a(href="/products" class="text-capitalize text-dark font-weight-bold") products