*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
html {
  font-size: 62.5%;
}
p {
  margin: 0px;
}
.header {
  background-color: #261456;
  padding: 15px;
  padding-left: 0px;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.header__logo a {
  font-weight: 500;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 900px;
  text-decoration: none;
}
.sider {
  max-width: 200px;
  width: 100%;
  height: calc(100vh - 53px);
  background-color: #261456;
  position: fixed;
  top: 53px;
  left: 0;
  color: white;
  z-index: 99;
  padding-top: 20px;
  transition: 0.25s;
}
.sider-active {
  left: 200px;
}
.sider-icon {
  display: none;
  position: fixed;
  top: 60px;
  left: 10px;
  background-color: #dedede;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  color: #261456;
  font-size: 20px;
  z-index: 999;
  padding: 10px;
}

.main {
  width: calc(100vw - 240px);
  position: relative;
  left: 200px;
  margin: 15px;
  transition: 0.25s;
}
.sider--menu li {
  padding: 0px 15px;
  margin-bottom: 10px;
}
.sider--menu li a {
  color: #fff;
  font-size: 1.6rem;
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.25s;
}
.sider--menu .active {
  background-color: rgba(193, 193, 193, 0.215);
}
.sider--menu li a:hover {
  background-color: rgba(156, 156, 156, 0.215);
}
.product--item td {
  vertical-align: middle;
  padding: 10px 0px;
}
.filter__actions {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1023.98px) {
  .sider {
    left: -200px;
    height: 100%;
  }
  .sider-icon {
    display: block;
  }
  .main {
    top: 40px;
    left: 0px;
    width: 95vw;
  }
}

/* // alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 999;
}
[show-alert].hidden-alert {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: hidden-alert 0.3s ease-out forwards;
}
@keyframes hidden-alert {
  100% {
    transform: translate(110%);
  }
}
/* // end show alert */
.image-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.image-preview[src=""] {
  display: none;
}
.button-clear-preview {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 2px;
  color: #fff;
  margin-top: 10px;
}
.image-preview[src=""] ~ .button-clear-preview {
  display: none;
}

/* form */
.container-form-admin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
}
.container-form-admin h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}
.container-form-admin label {
  font-weight: 600;
  color: rgb(138, 138, 138);
}
.container-form-admin input {
  height: 38px;
  padding: 10px 10px;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}
.container-form-admin input:focus {
  border: 1px solid #7749f8;
}
.container-form-admin button {
  height: 38px;
  color: #fff;
  background-color: #7749f8;
  font-size: 16px;
  font-weight: 700;
}
/* end form */

.table--product {
  width: 100%;
  font-size: 16px;
}
.table--product tr th {
  font-weight: 700;
  text-align: center;
}
.table--product tr td {
  text-align: center;
}
.table--product tr td img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  margin-left: auto;
  margin-right: auto;
}
.table--product tr td button {
  width: 60px;
}
.pagination-dot {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #261456;
}
.pagination-mobile .page-link {
  color: #261456;
}
.pagination-mobile .page-item.active .page-link {
  background: #261456;
  border: none;
}

@media screen and (max-width: 767.98px) {
  .pagination-mobile {
    justify-content: center !important;
  }
}
