*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
html {
  font-size: 62.5%;
}
p {
  margin: 0px;
}
.header {
  background-color: #333;
  padding: 15px;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.header__logo a {
  font-weight: 500;
  color: #fff;
  font-size: 2.4rem;
}
.sider {
  max-width: 200px;
  width: 100%;
  height: calc(100vh - 53px);
  background-color: #333;
  position: fixed;
  top: 53px;
  left: 0;
  color: white;
  z-index: 999;
}
.main {
  width: calc(100vw - 230px);
  position: relative;
  left: 200px;
  margin: 15px;
}
.sider--menu li a {
  color: #fff;
  font-size: 1.6rem;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #515151;
}
.product--item td {
  /* text-align: center; */
  vertical-align: middle;
  padding: 10px 0px;
}
.filter__actions {
  display: flex;
  gap: 10px;
}
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 999;
}
[show-alert].hidden-alert {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: hidden-alert 0.3s ease-out forwards;
}
@keyframes hidden-alert {
  100% {
    transform: translate(110%);
  }
}
.image-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.image-preview[src=""] {
  display: none;
}
.button-clear-preview {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  border-radius: 2px;
  color: #fff;
  margin-top: 10px;
}
.image-preview[src=""] ~ .button-clear-preview {
  display: none;
}
