*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
html {
  font-size: 62.5%;
}
p {
  margin: 0px;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.footer p {
  margin: 0px auto;
  text-align: center;
  font-size: 1.5rem;
}
.product--item {
  max-width: 250px;
  width: 100%;
  background-color: #f7f4f2;
  border-radius: 7px;
}
.product--item--image {
  width: 100%;
  height: 200px;
}
.product--item--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product--item--content {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.content__title {
  font-weight: 500;
  font-size: 1.5rem;
}
.content__price--new {
  font-weight: bold;
  font-size: 1.4rem;
}
.content__price--old {
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: line-through;
}
.content__discount {
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #dd0303;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
}
.inner-menu {
  display: flex;
  justify-content: flex-end;
}
.inner-menu > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999;
}
.inner-menu > ul > li {
  margin-left: 20px;
}
.sub-menu {
  position: relative;
}
.sub-menu ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0px;
}
.sub-menu:hover > ul {
  display: block;
}
.sub-menu > ul li {
  width: 140px;
  background: rgb(207, 204, 204);
  position: relative;
  padding: 10px 10px;
}
.sub-menu > ul li ul {
  position: absolute;
  top: 5px;
  right: 100%;
}
