:root {
  --colorBlack: #000000;
  --colorBlack2: #424242;
  --colorBlack3: #a1a1a1;
  --colorBlue2: #7749f8;
  --colorBlue3: #00005c;
  --colorGray2: #f3eee8;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  scroll-behavior: smooth;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  color: var(--colorBlack);
}
html {
  font-size: 62.5%;
}
p {
  margin: 0px;
}
/* header */
.container--custom {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 135px;
}
.container--custom2 {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7749f8;
  color: #fff;
}

.header {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0px 135px; */
  padding-bottom: 10px;

  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: flex-end;
  border-bottom: 2px solid rgba(196, 196, 196, 0.5);
}

.header__logo {
  width: 179px;
  margin-right: 30px;
}
.header__logo img {
  width: 100%;
}
.header__form {
  flex-grow: 1;
  max-width: 369px;
  height: 38px;
  background-color: red;
  margin-right: 30px;
  border: 1.5px solid var(--colorBlue2);
  border-radius: 5px;
  overflow: hidden;
}
.header__form input {
  border: none;
  border-radius: 0px;
  height: 38px;
  font-size: 16px;
}
.header__form button {
  width: 38px;
  height: 38px;
  background: var(--colorBlue2);
}
.header__form button {
  font-size: 16px;
  border: none;
  border-radius: none;
}
.header__foruser {
  height: 25px;
}
.header__foruser ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  gap: 18px;
}
.header__foruser a {
  text-decoration: none;
  color: var(--colorBlack2);
  font-weight: 500;
}
.header__foruser i {
  font-size: 24px;
  cursor: pointer;
  color: var(--colorBlue2);
}
/* end header */

/* end contact */
.header__menu {
  flex-grow: 1;
}
.header__menu a {
  text-decoration: none;
  color: var(--colorBlack2);
  font-weight: 500;
}
.header__menu > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  z-index: 999;
}
.header__menu > ul li a {
  transition: 0.25s;
  font-weight: 600;
}
.header__menu > ul li a:hover {
  color: var(--colorBlue2);
}
.sub-menu {
  position: relative;
  transition: 0.25s;
}
.sub-menu ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 120%;
  left: 0px;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(118, 118, 118, 0.5);
}
.sub-menu:hover > ul {
  display: block;
}
.sub-menu > ul li {
  width: 280px;
  background: #fff;
  position: relative;
  padding: 10px 10px;
}
.sub-menu > ul li a {
  transition: 0.25s;
}
.sub-menu > ul li a:hover {
  color: var(--colorBlue2);
}
.sub-menu > ul li ul {
  position: absolute;
  top: 5px;
  left: 100%;
}
.sub_foruser {
  position: relative;
}
.sub_foruser > ul {
  display: none;
  position: absolute;
  top: 130%;
  right: 0px;
  width: 160px;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(118, 118, 118, 0.5);
}
.sub_foruser > ul:after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: -7px;
  right: 5px;
  z-index: 100;
  transform: rotate(45deg);
}
.sub_foruser:hover > ul {
  display: block;
}
.sub_foruser ul li a {
  display: inline-block;
  padding: 10px;
  color: var(--colorBlack2);
  width: 100%;
  transition: 0.25s;
}
.sub_foruser ul li a:hover {
  color: var(--colorBlue2);
}

/* banner */
.banner {
  display: flex;
  flex-direction: row;
  height: 640px;
  align-items: center;
}
.banner__content {
  width: 40%;
  margin-right: auto;
}
.banner__content__title {
  font-size: 52px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner__content__desc {
  font-size: 700;
  font-size: 16px;
  color: var(--colorBlack3);
  line-height: 18px;
  margin-bottom: 43px;
}
.banner__content__button {
  width: 176px;
  height: 50px;
  background-color: var(--colorBlue2);
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
}
.banner__images {
  width: 50%;
}
/* end banner */
/* section-header */
.section--text {
  font-size: 30px;
  font-weight: 700;
  color: var(--colorBlue3);
  line-height: 18px;
  margin-bottom: 50px;
  margin-top: 20px;
}
/* end section-header */
/* list product */
.list-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.product-link:hover {
  text-decoration: none;
}
.product--item {
  width: 270px;
  height: 400px;
  border: 1px solid var(--colorGray2);
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product--item__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.product--item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}
.product--item:hover img {
  transform: scale(1.1);
}
.inner__discount {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 69, 66, 0.347);
  color: red;
  font-weight: 700;
  border-radius: 5px;
  padding: 3px;
}
.product--item__content {
  padding: 10px;
}
.inner-featuread {
  font-size: 12px;
  display: inline-block;
  background-color: rgba(255, 69, 66, 0.347);
  color: red;
  border-radius: 3px;
  padding: 2px;
  margin-bottom: 10px;
}
.content__title {
  color: var(--colorBlack);
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 18px;
}
.content__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content__price--new {
  font-weight: 800;
  font-size: 16px;
  color: var(--colorBlack);
}
.content__price--old {
  font-weight: 500;
  font-size: 16px;
  color: var(--colorBlack2);
  text-decoration: line-through;
}
.content__detail {
}
.content__detail p {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
/* filter product */
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter__sider {
  width: 100%;
  max-width: 270px;
  padding: 10px;
}
.filter__sort > p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
.sort__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--colorBlack2);
  margin-bottom: 15px;
}
.sort__group > input[type="radio"] {
  margin-bottom: 5px;
  margin-right: 100px;
}
/* end filter product */

/* // alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 999;
}
[show-alert].hidden-alert {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: hidden-alert 0.3s ease-out forwards;
}
@keyframes hidden-alert {
  100% {
    transform: translate(110%);
  }
}
/* // end alert */
/* product item in cart*/
.product--item td {
  /* text-align: center; */
  vertical-align: middle;
  padding: 10px 0px;
}
/* end product item in cart*/

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 67px;
  padding-bottom: 60px;
  border-bottom: 1px solid #fff;
}
.footer > div {
  max-width: 30rem;
  font-size: 14px;
  font-weight: 500;
}
.footer > div p {
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 500;
}
.footer .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 50px;
}
.logo--shop {
  width: 179px;
  margin-bottom: 20px;
}
.title--group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.title--group i {
  font-size: 12px;
  margin-top: 2px;
}
/* end footer */

/* coppyright */
.coppyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.coppyright p {
  width: 33.33%;
  text-align: end;
}
.coppyright p:nth-child(1) {
  text-align: start;
}
.coppyright p:nth-child(2) {
  text-align: center;
}
.coppyright p:nth-child(3) {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}
.coppyright p:nth-child(3) a {
  color: #fff;
}
/* end coppyright */
