mixin search(nameInput,keyword)
  form(id="form-search")
    .input-group.mb-3.input-group-lg
      input(class="form-control" 
      type="text" 
      placeholder="search.." 
      name=`${nameInput}`
      value=keyword)
      div(class="input-group-append")
        button(class="btn btn-success" type="submit") search