extends ../../layouts/default.pug 
include ../../mixin/product-layout.pug 
include ../../mixin/box-head.pug 

block main
  +box-head(titlePage)
  .container.my-3 
    .row 
      +grid-product(products)