extends ../../layouts/default.pug 
include ../../mixin/product-layout.pug 
include ../../mixin/section-head.pug 

block main
  +section-head(titlePage)
  .filter 
    .filter__sider
      .filter__sort
        p Sắp xếp
        .sort__group
          label(for="position-desc") Sắp xếp mới nhất
          input(type="radio" name="sort" sort-product-radio value="position-desc" id="position-desc")
        .sort__group
          label(for="position-asc") Sắp xếp cũ nhất
          input(type="radio" name="sort" sort-product-radio value="position-asc" id="position-asc")
        .sort__group
          label(for="price-asc") Sắp xếp giá tăng
          input(type="radio" name="sort" sort-product-radio value="price-asc" id="price-asc")
        .sort__group
          label(for="price-desc") Sắp xếp giá giảm
          input(type="radio" name="sort" sort-product-radio value="price-desc" id="price-desc")

      .filter__checkbox
    .list-product
      +grid-product(products)
  script(src="/js/products.js") 