extends ../../layouts/default.pug
include ../../mixin/product-layout.pug 
include ../../mixin/alert.pug 

block main 
  +alertSuccess(4000)
  .container.my-3 
    .row 
      .col-12
        .box-head 
          h2.inner-title Sản phẩm nổi bật
    .row 
      +grid-product(productFeaturead)
    .row 
      .col-12
        .box-head 
          h2.inner-title Sản phẩm mới nhất
    .row 
      +grid-product(productsNew)