extends ../../layouts/default.pug
include ../../mixin/product-layout.pug 

block main
  .container.my-3 
    .row 
      .col-12
        .box-head 
          h2.inner-title Sản phẩm nổi bật
    .row 
      +grid-product(productFeaturead)