extends ../../layouts/default.pug
include ../../mixin/product-layout.pug 
include ../../mixin/alert.pug 
include ../../mixin/section-head.pug 

block main 
  +alertSuccess(4000)
  .banner 
    .banner__content 
      h1.banner__content__title Lorem ipsum dolor sit amet consectetur.
      p.banner__content__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit iusto dolorum quo saepe, eveniet autem quae commodi magni enim labore?
      button.banner__content__button see more
    .banner__images 
      img(src="/media/banner1.png" alt="")
  +section-head("Sản Phẩm Nổi Bật")
  .list-product
    +grid-product(productFeaturead)
  +section-head("Sản Phẩm Mới Nhất")
  .list-product
    +grid-product(productsNew)

